/* styling for less than 992px */
@media (max-width: 992px) {
    .nav-item {
        padding: 0;
    }

    .searchInput {
        margin-left: 0 !important;
    }

    .searchControl {
        flex-direction: column;
        align-items: center;
    }

    .searchBtn {
        margin: 0.6rem 0;
    }

    .jewelry-item {
        font-size: 0.7rem;
    }

    .sub-header-collapse{
        display: initial;
    }

    .sub-menu-div{
        justify-content: flex-start !important;
        position: relative;
        left: 1rem;
    }
}

/* Mobile Breakpoint */
@media (min-width: 576px) and (max-width: 768px) {
    .jewelry-item {
        margin: 1rem;
    }

    .footer-all{
        font-size: 0.8rem;
    }
}

@media (max-width: 576px){
    .jewelry-item{
        margin: 0.4rem;
        font-size: 0.67rem;
    }

    /* .sub-header-collapse{
        position: absolute;
        left: 1.5rem;
    } */
}