/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    /* background-color: #BEB7A4; */
    font-family: 'Ubuntu', sans-serif;
}

/* Variables */
:root{
    --white: #fffffc;
    --black: #000000 !important;
    --khaki: #beb7a4;
    --amber: #FF7F11;
    --black: #FF3F00;
}

/* Navbar Style start */
#navbar{
    background-color: var(--white);
    display: flex;
    align-items: center;
    padding: 0.7rem 1rem;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 0px;
}

#navbar > .logoSpan{
    display: flex;
    align-items: center;
}

#navbar > .logoSpan > h3{
    color: var(--black);
    margin-left: 0.4rem;
}

#navbar > .listSpan{
    display: flex;
}

#navbar > .listSpan > ul{
    display: flex;
    align-items: center;
}

#navbar > .listSpan > ul > li{
    margin: 0 1.5rem;
    list-style: none;
} 

li a{
    text-decoration: none;
    color: var(--black);
    font-size: 1rem;
    font-weight: bold;
}

.icons{
    display: flex;
    align-items: center;
}

.icons i{
    margin: 0 0.5rem;
    color: var(--black);
    font-size: 1.2rem;
}

li > a:hover{
    color: var(--amber);
}

#phoneIcon{
    color: green;
}

#contactno{
    color: var(--black);
}

/* Navbar Style end */