/* fonts */
@font-face {
    font-family: "muli-regular";
    src: url("/assets/fonts/muli/Muli-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "muli-italic";
    src: url("/assets/fonts/muli/Muli-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "muli-light";
    src: url("/assets/fonts/muli/Muli-Light.ttf") format("truetype");
}

@font-face {
    font-family: "muli-light-italic";
    src: url("/assets/fonts/muli/Muli-LightItalic.ttf") format("truetype");
}

:root {
    --primary-dark-purple: #231535;
    --secondary-dark-purple: #4F3267;
    --borders: #723890;
    --bg-header: #4f3267;
    --link: #b06a7f;
    --bnt-gradient1: #dc58e6;
    --bnt-gradient2: #8e62f9;
    --bg-footer: #f6eff6;
    --text-color: #b37791;
    --bg-primary: #f9f9fa;
}

/* navbar styling */
.navbar {
    background-color: var(--bg-header);
    box-shadow: 0 0 4px gray;
    padding: 0;
    height: 64px !important;
}

.nav-link {
    color: white;
    font-family: muli-regular;
}

.nav-link.active {
    color: white;
}

.nav-link:hover {
    color: var(--bnt-gradient1);
}

.nav-item {
    padding-left: 1rem;
}

.searchBtn:hover {
    border-color: var(--bnt-gradient1);
    color: white;
}

.searchBtn {
    background-color: var(--primary-dark-purple);
    color: white;
    border: 1px solid var(--borders);
}

.searchInput:focus {
    box-shadow: none;
}

.navbar-toggler {
    border-color: var(--borders);
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar .navbar-toggler-icon {
    background-image: url();
}

.menu-list {
    text-align: center;
}

.bi-list {
    color: white;
}

.jewelry-menu{
    height: 2.5rem;
    background-color: var(--borders);
    position: sticky;
    top: 64px;
    z-index: 1011;
}

.jewelry-list{
    margin: 0;
    padding: 0;
}

.jewelry-item{
    font-size: 0.9rem;
    list-style: none;
    margin: 0 2rem;
}

.jewelry-item a{
    text-decoration: none;
    color: wheat;
    transition: .5s ease-in-out;
}

.jewelry-item a:hover{
    color: white;
    opacity: 0.8;
}

.footer-all{
    background-color: var(--bg-footer);
}

.social-links li{
    cursor: pointer;
}

.social-links li:hover{
    color: var(--bnt-gradient1);
}

.section-list li{
    padding-left: 0 !important;
    transition: .3s ease-in-out;
    margin: 0.8rem 0;
}

.section-list li:hover{
    transform: translate(10px);
    color: #dc58e6 !important;
    text-shadow: #dc58e6;
}

/* styling for less than 992px */
@media (max-width: 992px) {
    .nav-item {
        padding: 0;
    }

    .searchInput {
        margin-left: 0 !important;
    }

    .searchControl {
        flex-direction: column;
        align-items: center;
    }

    .searchBtn {
        margin: 0.6rem 0;
    }

    .jewelry-item{
        font-size: 0.7rem;
    }
}

