@media screen and (min-width: 768px) and (max-width: 1023px) {

    /* Variables */
    :root {
        --white: #fffffc;
        --black: #000000 !important;
        --khaki: #beb7a4;
        --amber: #FF7F11;
        --orange: #FF3F00;
    }

    /* Navbar Responsiveness start*/
    
    #navbar > .logoSpan > h3{
        font-size: 0.8rem;
        display: inline-block;
    }

    .logoSpan > img{
        width: 30px;
    }

    li a, #contactno{
        font-size: 0.9rem;
    }

    #navbar > .listSpan {
        justify-content: flex-end;
        display: flex;
    }

    /* Navbar Responsiveness end*/
}