@media screen and (min-width: 768px) and (max-width: 1023px) {

    /* Variables */
    :root {
        --white: #fffffc;
        --black: #000000 !important;
        --khaki: #beb7a4;
        --amber: #FF7F11;
        --black: #FF3F00;
    }
}